<div class="w-full h-full flex flex-col space-y-4">
  <div class="w-full flex items-center justify-between space-x-4">
    <h2 class="text-2xl font-semibold">Add new employee</h2>
    <button class="btn-primary bg-red-600" [routerLink]="['/employees']">
      Back to liste
    </button>
  </div>
  <div class="w-full max-w-4xl p-8 rounded-xl shadow-xl mx-auto">
    <form [formGroup]="employeeForm" (ngSubmit)="onAddEmployee(employeeForm.value)">
      <div class="grid grid-cols-2 gap-4">
        <div class="col-span-1 w-full flex flex-col space-y-1">
          <label for="first_name" class="text-sm font-bold text-gray-700"
            >FirstName</label
          >
          <input ngModel
            type="text"
            class="form-input border-gray-300 rounded-md focus:outline-none focus:border-primary"
            formControlName="first_name"
          />
        </div>
        <div class="col-span-1 w-full flex flex-col space-y-1">
          <label for="last_name" class="text-sm font-bold text-gray-700"
            >LastName</label
          >
          <input ngModel
            type="text"
            class="form-input border-gray-300 rounded-md focus:outline-none focus:border-primary"
            formControlName="last_name"
          />
        </div>
        <div class="col-span-1 w-full flex flex-col space-y-1">
          <label for="email" class="text-sm font-bold text-gray-700"
            >Email</label
          >
          <input ngModel
            type="email"
            class="form-input border-gray-300 rounded-md focus:outline-none focus:border-primary"
            formControlName="email"
          />
        </div>
        <div class="col-span-1 w-full flex flex-col space-y-1">
          <label for="phone_number" class="text-sm font-bold text-gray-700"
            >PhoneNumber</label
          >
          <input ngModel
            type="text"
            class="form-input border-gray-300 rounded-md focus:outline-none focus:border-primary"
            formControlName="phone_number"
          />
        </div>
        <div class="col-span-1 w-full flex flex-col space-y-1">
          <label for="hire_date" class="text-sm font-bold text-gray-700"
            >HireDate</label
          >
          <input ngModel
            type="datetime"
            class="form-input border-gray-300 rounded-md focus:outline-none focus:border-primary"
            formControlName="hire_date"
          />
        </div>
        <div class="col-span-1 w-full flex flex-col space-y-1">
          <label for="job" class="text-sm font-bold text-gray-700">Job</label>
          <select
            class="form-select border-gray-300 rounded-md focus:outline-none focus:border-primary"
            name="job"
            id="job"
            formControlName="job"
          >
            <option value="job">Job 1</option>
          </select>
        </div>
        <div class="col-span-1 w-full flex flex-col space-y-1">
          <label for="salary" class="text-sm font-bold text-gray-700"
            >Salary</label
          >
          <input ngModel
            type="number"
            class="form-input border-gray-300 rounded-md focus:outline-none focus:border-primary"
            formControlName="salary"
          />
        </div>
        <div class="col-span-1 w-full flex flex-col space-y-1">
          <label for="commission_pct" class="text-sm font-bold text-gray-700"
            >Commission PCT</label
          >
          <input ngModel
            type="number"
            class="form-input border-gray-300 rounded-md focus:outline-none focus:border-primary"
            formControlName="commission_pct"
          />
        </div>
        <div class="col-span-1 w-full flex flex-col space-y-1">
          <label for="manager" class="text-sm font-bold text-gray-700"
            >Manager</label
          >
          <select
            class="form-select border-gray-300 rounded-md focus:outline-none focus:border-primary"
            name="manager"
            id="manager"
            formControlName="manager"
          >
            <option value="manager">Manager 1</option>
          </select>
        </div>
        <div class="col-span-1 w-full flex flex-col space-y-1">
          <label for="department" class="text-sm font-bold text-gray-700"
            >Department</label
          >
          <select
            class="form-select border-gray-300 rounded-md focus:outline-none focus:border-primary"
            name="department"
            id="department"
            formControlName="department"
          >
            <option value="department">Dep 1</option>
          </select>
        </div>
        <div class="col-span-full w-full flex">
          <button
            class="btn-primary w-60"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
