<div class="w-full h-full flex flex-col space-y-4">
  <div class="w-full flex items-center justify-between space-x-4">
    <h2 class="text-2xl font-semibold">Locations</h2>
    <button class="btn-primary">New location</button>
  </div>
  <div class="w-full">
    <table class="w-full overflow-x-auto border">
      <thead class="w-full bg-gray-800 text-white">
        <tr class="w-full divide-x">
          <th class="text-left p-3 whitespace-nowrap">#</th>
          <th class="text-left p-3 whitespace-nowrap">Postal code</th>
          <th class="text-left p-3 whitespace-nowrap">City</th>
          <th class="text-left p-3 whitespace-nowrap">State province</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b divide-x">
          <td class="p-3 whitespace-normal">{{ 1 }}</td>
          <td class="p-3 whitespace-normal">{{ "1297 Via Cola di Rie" }}</td>
          <td class="p-3 whitespace-normal">{{ "00989" }}</td>
          <td class="p-3 whitespace-normal">{{ "Roma" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
