<div class="w-full h-screen overflow-hidden flex flex-auto">
  <!-- Sidebar -->
  <div class="w-64 h-full shadow-lg flex flex-col space-y-4">
    <div class="p-4 w-full flex justify-center items-center shadow-md">
      <span class="font-bold text-2xl text-center text-primary"
        >Oracle Project</span
      >
    </div>
    <!-- Menu -->
    <div class="w-full h-full flex-1 flex p-4 flex-col space-y-4 mt-6">
      <div
        class="menu-item"
        [routerLink]="['/dashboard']"
        routerLinkActive="active"
      >
        <svg-icon
          src="assets/icons/dashboard.svg"
          svgClass="h-5 w-5"
        ></svg-icon>
        <span>Dashboard</span>
      </div>
      <div
        class="menu-item"
        [routerLink]="['/regions']"
        routerLinkActive="active"
      >
        <svg-icon src="assets/icons/region.svg" svgClass="h-5 w-5"></svg-icon>
        <span>Region</span>
      </div>
      <div
        class="menu-item"
        [routerLink]="['/countries']"
        routerLinkActive="active"
      >
        <svg-icon src="assets/icons/countrie.svg" svgClass="h-5 w-5"></svg-icon>
        <span>Countrie</span>
      </div>
      <div
        class="menu-item"
        [routerLink]="['/locations']"
        routerLinkActive="active"
      >
        <svg-icon src="assets/icons/location.svg" svgClass="h-5 w-5"></svg-icon>
        <span>Location</span>
      </div>
      <div
        class="menu-item"
        [routerLink]="['/departments']"
        routerLinkActive="active"
      >
        <svg-icon
          src="assets/icons/department.svg"
          svgClass="h-5 w-5"
        ></svg-icon>
        <span>Department</span>
      </div>
      <div class="menu-item" [routerLink]="['/jobs']" routerLinkActive="active">
        <svg-icon src="assets/icons/job.svg" svgClass="h-5 w-5"></svg-icon>
        <span>Job</span>
      </div>
      <div
        class="menu-item"
        [routerLink]="['/employees']"
        routerLinkActive="active"
      >
        <svg-icon src="assets/icons/employee.svg" svgClass="h-5 w-5"></svg-icon>
        <span>Employee</span>
      </div>
    </div>
  </div>

  <!-- content app -->
  <div class="w-full h-full flex-1 p-6">
    <router-outlet></router-outlet>
  </div>
</div>
