<div class="w-full h-full flex flex-col space-y-4">
  <div class="w-full flex items-center justify-between space-x-4">
    <h2 class="text-2xl font-semibold">Jobs</h2>
    <button class="btn-primary">New job</button>
  </div>
  <div class="w-full">
    <table class="w-full overflow-x-auto border">
      <thead class="w-full bg-gray-800 text-white">
        <tr class="w-full divide-x">
          <th class="text-left p-3 whitespace-nowrap">#</th>
          <th class="text-left p-3 whitespace-nowrap">Titlr</th>
          <th class="text-left p-3 whitespace-nowrap">Min salary</th>
          <th class="text-left p-3 whitespace-nowrap">Max salary</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b divide-x" *ngFor="let job of jobs">
          <td class="p-3 whitespace-normal">{{ job.job_id}}</td>
          <td class="p-3 whitespace-normal">{{ job.job_title }}</td>
          <td class="p-3 whitespace-normal">{{ job.min_salary }}</td>
          <td class="p-3 whitespace-normal">{{ job.max_salary }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
